body {
    height: 100vh;
    background-color: #0b0b33;
}
.header-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d3f5f5;
    margin-top: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif !important;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
body {
    background-color: #0b0b33;
    height: 100vh;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px !important;
}
::-webkit-scrollbar-thumb {
    background-color: #0b0b33;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(179, 179, 192, .3);
    border: 1px solid rgba(179, 179, 192, .2);
    border-radius: 30px;
}
.btn-primary {
    background-color: #0000cd !important;
}
.thinner-text {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
}
p {
    margin-bottom: 10px;
    color: #d3f5f5;
}
.larger-text {
    font-size: 30px;
    letter-spacing: 1px;
    margin: 10px 0;
    font-weight: bold;
    color: #d3f5f5;
}
.btn-primary {
    border: #0000cd !important;
    background-color: #0000cd !important;
}
.btn-outlined-primary {
    border: #0000cd !important;
    color: #d3f5f5;
}
.btn-outlined-primary:hover {
    color: #fff;
}
a {
    text-decoration: none !important;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
.card {
    background-color: #0b0b33 !important;
    color: #d3f5f5 !important;
    padding: 20px;
    transition: 0.5s all ease-out !important;
    border: none !important;
    box-shadow: none !important;
}
.card:hover {
    background-color: #0000cd !important;
}
